@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-400.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

logo {
  display: flex;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #444;
  background-color: #ffffff;
}

.main-header {
  color: #444;
  background-color: #FFE17F;
}

navigation-link,
nav {
  display: flex;
  width: 1040px;
  margin: 0 auto;
}

.content form {
  margin: 0;
  padding: 0;
  width: 517px;
}

person-data {
  margin: 0 auto;
  width: 231px;
}

basket {
  max-width: 240px;
  margin-left: auto;
}

main-catalog {
  margin: 0;
  padding: 0;
  width: 293px;
}

navigation-list {
  margin-left: auto;
  width: 471px;
  font-family: "Raleway", sans-serif;
  line-height: 22px;
  color: #444;
  font-weight: 800;
  text-align: center;
  background-color: #FFE17F;
  background-image: url("../images/01.svg");
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

main-container {
  flex-grow: 1;
}

page-container,
truck-delivery,
subscribe {
  width: 1160px;
  margin: 0 auto;
}

photoslider {
  margin: 0;
  padding: 0;
  max-width: 600px;
}

description {
  margin-right: auto;
  width: 560px;
}

.content h2 {
  font-family: "Raleway", sans-serif;
  color: #000;
  text-align: end;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
}

button-1 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #FFE17F;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
  background-color: #000;
}

button {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
  background-color: #F0F0F0;
}

link {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
}

.content dt {
  font-family: "Rubik", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.content dd {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

other goods {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

other-goods-2 {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serifs;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
}

delivery {
  margin: 0 auto;
  width: 694px;
}


style-delivery {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
  background-color: #F0F0F0;
}

contact-plus {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  padding: 0 108px;
}

.content ul {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.content h3 {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

subscribe {
  background-color: #F0F0F0;
}

newsletter-form {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
}

catalog-inner {
  display: flex;
}

filter {
  width: 200px;
  margin-right: 40px;
}

select-control {
  width: 760px;
}

page-footer {
  background-color: #444;
  display: flex;
  width: 1158px;
  margin: 0 auto;
}

footer-contacts {
  width: 240px;
  margin-right: 292px;
}

footer-contacts {
  margin-left: auto;
  max-width: 174px;
}

.content p {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
}

footer-links,
pagination-link-1 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
}

contact-phone {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
}

htmlacademy-link {
  color: #FFE17F;
}

.inner-header-h1 {
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
}

filter {
  background-color: #F0F0F0;
}

catalog-filter-title {
  color: #000;
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  text-transform: uppercase;
}

catalog-filter-description,
product-card-link,
button-catalog {
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

control {
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

pagination-link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #444;
}
