@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-400.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.logo {
  display: flex;
  margin: 0;
  padding-left: 60px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #444;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.main-header {
  color: #444;
  background-color: #FFE17F;
}

.logo {
  display: flex;
  margin:0;
  margin-bottom: 34px;
}

.main-links {
  display: flex;
  width: 1040px;
  padding-left: 60px;
  gap: 40px;
  margin-bottom: 30px;
}

.wrapper-function {
  display: flex;
  padding-left: 60px;
}

.person-data {
  margin-right: auto;
  width: 231px;
  min-width: 15px;
  min-height: 12px;
}

.basket {
  display: flex;
  max-width: 240px;
  margin-left: auto;
}

.more-functions {
  display: flex;
  width: 471px;
  gap: 45px;
  list-style-type: none;
  margin:0;
}

.content form {
  margin: 0;
  padding: 0;
  width: 517px;
}

.main-catalog {
  margin: 0;
  padding: 0;
  height: 50px;
  width: 293px;
  justify-content: center;
}

.navigation-list {
  margin-left: auto;
  width: 471px;
  font-family: "Raleway", sans-serif;
  line-height: 22px;
  color: #444;
  font-weight: 800;
  text-align: center;
  background-color: #FFE17F;
  background-image: url("../images/01.svg");
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.main-container {
  flex-grow: 1;
}

.page-container,
.subscribe {
  width: 1160px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  gap: 40px;
  margin-bottom: 70px;
}

.photoslider {
  margin: 0;
  padding: 0;
  max-width: 600px;
}


.description {
  margin-right: auto;
  width: 560px;
  padding-top: 121px;
}

.mini-description {
  padding-top: 29px;
  padding-bottom: 50px;
}

.description-more {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.fly {
  margin: 0;
}

.truck-delivery {
  width: 1160px;
  margin-bottom: 70px;
}

.content h2 {
  font-family: "Raleway", sans-serif;
  color: #000;
  text-align: end;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
}

.button-special {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #FFE17F;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
  background-color: #000;
}

.button {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
  background-color: #F0F0F0;
}

.link {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
}

.big {
  font-family: "Rubik", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #000;
}

.content dd {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.other-goods {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.other-goods-more {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serifs;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  margin-bottom: 70px;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 0 116px;
}

.more-opportunities {
  display: flex;
  margin-bottom: 70px;
}

.delivery {
  margin: 0;
  width: 694px;

}

.style-delivery {
  height: 100px;
  padding: 70px 0;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
  background-color: #F0F0F0;
}

.contact-plus {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.more-contacs {
  margin: 0;
}

.content ul {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.content h3 {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.subscribe {
  background-color: #F0F0F0;
  height: 421px;
  padding-top: 74px;
}

.main-subscribe {
  display: flex;
  gap: 150px;
  margin-bottom: 144px;
}

.main-subscribe {
  display: flex;
  margin-bottom: 56px;
}

.newsletter-form {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
}

.catalog-inner {
  display: flex;
}

.filter {
  width: 200px;
  margin-right: 40px;
  flex-shrink: 2;
}

.select-control {
  width: 760px;
}

.page-footer {
  background-color: #444;
  color: #ffffff;
  width: 1158px;
  margin: 0 auto;
  height: 100%;
}

.footer-wrapper {
  display: flex;
  padding: 0;
  list-style-type: none;
  margin-bottom: 47px;
}

.network-links {
  display: flex;
  margin-top: 46px;
}

.footer-links {
  margin: 0;
  padding: 0;
  padding-left: 124px;
  display: flex;
  gap: 35px;
  align-content: center;
  list-style-type: none;
}

.contact-address-text {
  margin: 0;
  padding: 0;
}

.footer-contacts-main {
  margin: 0;
  padding: 0;
  padding-left: 140px;
  width: 240px;

}

.pointers {
  display: flex;
  gap: 32px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 34px;
}

.content p {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
}

.footer-links,
.pagination-link-1 {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
}

.contact-phone {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
}

.number {
  margin: 0;
  padding: 0;
}

.htmlacademy-link {
  color: #FFE17F;
}

.check-in {
  display: flex;
  gap: 28px;
}

.inner-header-h1 {
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
}

.filter {
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.catalog-head {
  display: flex;
  gap: 70px;
  width: 840px;
  margin-bottom: 70px;
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 40px;
  margin: 0;
  padding-left:  40px;
  margin-bottom: 44px;
}

.catalog-filter-title {
  color: #000;
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-filter-description,
.product-card-link,
.button-catalog {
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 35px;
}

.control {
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.pagination-link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #444;
}

.wrap-pagination {
  display: flex;
  width: 100%;
  gap: 71px;
  margin-bottom: 78px;
}

.pagination {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button-catalog {
  width: 760px;
  margin: 0;
  padding: 0;
  margin-bottom: 44px;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-social-item {
  list-style-type: none;
}

.control-input {
  list-style-type: none;
}
/*
.product-card-link {
  list-style-type: none;
  display: flex;
flex-direction: column;

}

.description-price {
  display: flex;
  padding:40px;
}
*/
.non-decorate {
  text-decoration: none;
  margin: 0;
  padding:0;
}

.bottom {
  margin-bottom: 30px;
}

.inner-header {
  margin: 35px 0;
  gap: 16px;
}

.catalog-head {
  background-color: #F0F0F0;
  padding: 70px 40px 0px 40px;
}

.no-pad {
  padding: 0;
  margin: 0;
}

.margin {
  margin-bottom: 35px;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
}

.footer-contact {
  padding-left: 182px;
}

.footer-social {
  padding-right: 390px;
}

.logo-footer {
  margin-left: 140px;
  margin-bottom: 30px;
  padding-top: 62px;
}

.button-more {
  margin-bottom: 50px;
}

.moving {
  display:flex;
  gap: 12px;
  margin: 0;
  list-style-type: none;
  justify-content: end;
}

.style {
  list-style-type: none;
}
